DISCORD_EVENTS_CHECK_TIME_IN_MINUTES=
DAY_OF_THE_MONTH_FOR_MEMBERS_COUNT=
MEMBERS_CHECK_TIME=
REMAINING_EVENT_TIME_FOR_WARNING_IN_MINUTES=
PRIMARY_WEBHOOK_PORT=""
ID=""
PUBLIC_KEY=""
DISCORD_BOT_TOKEN=""
MYSQL_DATABASE_URL=""
N8N_ENDPOINT=""
N8N_WEBHOOKS_TOKEN=""
WEBHOOK_TOKEN=""
SAVE_LOGS_LOCALLY=
DEBUG=