# Bot
DISCORD_BOT_TOKEN=

# Webhook
WEBHOOK_TOKEN=
PRIMARY_WEBHOOK_PORT=

# Events
DISCORD_EVENTS_CHECK_TIME_IN_MINUTES=1
DAY_OF_THE_MONTH_FOR_MEMBERS_COUNT=2 # Recomended: 2 -> 28
REMAINING_EVENT_TIME_FOR_WARNING_IN_MINUTES=30
CLEAR_WARNING_MESSAGES_AFTER_X_HOURS=24 # Default
CLEAR_WARNING_MESSAGES_EVENT_DELAY_IN_HOURS=1 # Default
ONLINE_MEMBERS_COUNT_DELAY_IN_MINUTES=15 # Default
MAX_STUDY_GROUP_NOTIFICATION_DURATION_IN_HOURS=1 # Default
LIVE_FORMS_DURATION_IN_MINUTES=1 # Default

# N8N
N8N_ENDPOINT=
N8N_WEBHOOKS_TOKEN=

# Database
DATABASE_URL=

# Debug
SAVE_LOGS_LOCALLY=false # Default
DEBUG=true # Default