DISCORD_EVENTS_CHECK_TIME_IN_MINUTES=5# Default
DAY_FOR_MONTHLY_TASKS=2# Default (recomendado: 1 até 28)
REMAINING_EVENT_TIME_FOR_WARNING=30# Default
PRIMARY_WEBHOOK_PORT=""
ID=""
PUBLIC_KEY=""
DISCORD_BOT_TOKEN=""
MYSQL_DATABASE_URL=""
N8N_ENDPOINT=""
N8N_WEBHOOKS_TOKEN=""
SAVE_LOGS_LOCALLY=false# Default
JWT_SECRET=""